.input {
	.error {
		color: $primary_hover;
	}
}
.form-control {
	border-radius:0px;
	outline: none;
	border: 1px solid #ddd;
	background: #ddd;
	&:active, &:focus {
		color: $dark_3;
		background: #ddd;
		border: 1px solid #ddd;
		box-shadow: none;
	}
}
textarea {
	min-height: 12rem;
}