


html,body {
	min-height: 100vh;
	font-size: 16px;
	overflow-x: hidden;
	position:relative;
}
.app {
	background: $light_1;
	color: $dark_1;
	
	font-family: "Montserrat";

	h1,h2,h3,h4,h5,h6 {
		color:$primary;
		font-family: "Exo 2";
		font-weight: 900;
	}
}