$primary_hover: #db292f; 
$primary:       #b12025; 
$primary_focus: #791214;

$light_1: #F1F1F1; 
$light_2: #F8F8F8; 
$light_3: #FFFFFF; 

$dark_1:  #121212; 
$dark_2:  #272727; 
$dark_3:  #353535; 

@mixin shadow_1 {
	box-shadow: 0 5px 5px rgba(0,0,0,.075);
}
@mixin shadow_2 {
	box-shadow: 0 5px 15px rgba(0,0,0,.25);
}
@mixin shadow_3 {
	box-shadow: 0 10px 25px rgba(0,0,0,.25);
}
@mixin transition_general {
	transition: 0.1s all;
}


.darkmode {
	$light_1: #121212;
	$light_2: #272727;
	$light_3: #353535;

	$dark_1:  #EEEEEE;
	$dark_2:  #F1F1F1;
	$dark_3:  #FFFFFF;
}